<style>
  /* 質問画面 */
  .quiz {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    height: calc(100vh - 200px);
    flex: 1 0 auto;
  }

  .quiz h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .quiz p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .quiz #quiz {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  .quiz #question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .quiz #answer-buttons {
    margin-top: 20px;
  }

  .quiz #answer-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
</style>

<%= render "shared/header" %>
<div class="quiz">
  <h2>IT適性診断テスト</h2>
  <p>以下の質問に回答して、あなたに適したIT職業を見つけましょう。</p>

  <div id="quiz">
    <h2 id="question"></h2>

    <div id="answer-buttons">
      <button id="button-1">1（全く当てはまらない）</button>
      <button id="button-2">2（あまり当てはまらない）</button>
      <button id="button-3">3（どちらとも言えない）</button>
      <button id="button-4">4（まあまあ当てはまる）</button>
      <button id="button-5">5（非常に当てはまる）</button>
    </div>
  </div>
</div>

<%= render 'shared/footer'%>


<script>
document.addEventListener("turbo:load", function() {

  const questions = <%= raw @questions.to_json %>;
  let currentQuestionIndex = 0;

  function displayQuestion() {
    const questionElement = document.getElementById("question");
    const currentQuestion = questions[currentQuestionIndex];
    questionElement.textContent = currentQuestion.question;
  }

  displayQuestion();

  const button1 = document.getElementById("button-1");
  const button2 = document.getElementById("button-2");
  const button3 = document.getElementById("button-3");
  const button4 = document.getElementById("button-4");
  const button5 = document.getElementById("button-5");

  button1.addEventListener("click", () => { handleAnswer(1); });
  button2.addEventListener("click", () => { handleAnswer(2); });
  button3.addEventListener("click", () => { handleAnswer(3); });
  button4.addEventListener("click", () => { handleAnswer(4); });
  button5.addEventListener("click", () => { handleAnswer(5); });

  function handleAnswer(score) {
    const key = `question_${currentQuestionIndex}`;
    localStorage.setItem(key, score);

    currentQuestionIndex++;

    if (currentQuestionIndex < questions.length) {
      displayQuestion();
    } else {
      window.location.href = "<%= results_path %>";
    }
  }
});
</script>

