<header>
  <div class="header">
    <div class="title"><%= link_to '/' do %>
    <h1>TechFit</h1>
    <% end %>
    </div>
    <div class="wrapper">
      <div class="job_link">
        <%= link_to jobs_path do %>
    <h1>職業一覧</h1>
    <% end %>
      </div>
      <div class="cord_link">
        <%= link_to '/' do %>
    <h1>コード体験</h1>
    <% end %>
      </div>
    </div>
  </div>
</header>